.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  background: none;
  border: none;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
  width: 100%;
}

.modalImage {
  width: 100%;
  max-width: 1080px;
  max-height: calc(100vh - 100px);
  object-fit: contain;
}

.imageInfo {
  color: white;
  text-align: center;
  width: 100%;

  padding: 10px;
}

.imageTitle::first-letter {
  text-transform: uppercase;
}

.imageTitle,
.imageAuthor,
.imageStats {
  margin: 0;
}
